{% extends 'index.html.twig' %}

{% block products %}

{% for product in products %}

<p> {{ product.id }} {{ product.name }} {{ product.price }} {{ product.season }}; </p>

{% endfor %}

{% endblock %}